{#

#}
<div id='long_task_fiche_container' class="little_push_down">
	<div id="spinner_export">

	</div>
	{% set ajax_mode = true %}
	{#{% include '@LongTaskManager/liste.html.twig' %}#}
	{% include '@LongTaskManager/table_liste.html.twig' %}


	{# <table id="table_task" class="table stripe dataTable no-footer" role="grid" aria-describedby="table_pool_manager_info">
	</table> #}

</div>
