{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    


{% endblock %}
{% block header %}
    {#   {{ parent() }}#}

{% endblock %}

{% block body %}
<div id="titleConsolide" class="col-md-12 col-md-12" style="text-align: center"> <img src="{{ asset('img/logos/Logo_Application_BS.png') }}" alt="Logo_Application_BS.png" class="img-responsive logo_application center-block"/></div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit" style="text-align: center; margin-left: auto; margin-right: auto; margin-bottom: auto; margin-top: 30%;">
                {# <h1><small><font face="Tahoma" color="red">Erreur 500</font></small></h1>
                <br/> #}
                <p style="font-size: 30px">Une erreur est survenue. Si le problème persiste, veuillez contacter l'administrateur.</p>
                <p style="font-size: 20px"><b>Vous pouvez cliquer sur le lien suivant pour revenir à l'accueil</b></p>
                <a href="{{ path('homepage') }}" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Accueil</a>
            </div>
            <br />
        </div>
    </div>
</div>
{% endblock %}