/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/web/bundles/
/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/app/cache
/app/logs
/build/
/vendor/
/src/Bilan_Social/Bundle/TestBundle/*
/bin/*
!bin/console

/composer.phar
/web/uploads/
/var/*
/web/node_modules/*
.idea
*.iml
*.old
*.log
/docker-data
/nbproject/private/
/web/js/fos_js_routes.js
/web/img/cartes/*
/web/DGCL/action_log_dgcl/*
!/web/DGCL/action_log_dgcl/git.keep
!/web/DGCL/action_log_dgcl
app/config/security.yml
.DS_Store

*.sublime*
docker/apache-php7/apache2-7_0/php.ini
docker/apache-php7/apache2-7_0/security.conf
docker/apache-php7/cli-7_0/php.ini