<p>Bonjour,</p>
<br>
<p>le compte <b>{{ name }}</b> souhaite réinitialiser son mot de passe. Pour effectuer ce changement, veuillez cliquer sur le lien ci-dessous :</p>
<p><a href="{{ host_prefix }}{{ path('change_password', { 'code': user.confirmCode } ) }} ">Modifier le mot de passe</a></p>
<br>
<p>Cordialement,</p>
<p>L'équipe Bilan Social</p>