<p>Bonjour,</p>
<br>
<p>La collectivité {{ user.username }} vous a transmis son bilan social</p>
{#<p><a href="{{ absolute_url(path('change_password', { 'code': user.confirmCode } )) }}">Modifier votre mot de passe</a></p>#}
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<br>
<p>Cordialement</p>
<p>L'équipe Bilan Social</p>