<div class=' pull-right'>
    <input style="white-space: normal;" id="reinit-bs" type='button' class='btn btn-classic btn-100 btn-submit'
           data-toggle="modal"
           data-target="#confirm-submit-reinit" value='Réinitialiser le mode de saisie'>
</div>