
<div id="informationCollectiviteRequired" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Attention</h4>
          </div>
          <div class="modal-body">

              <p>Veuillez saisir les informations liées à votre collectivité.</p>
             
             
          </div>
          <div class="modal-footer">
              <p>Cliquez sur le lien "Continuer" afin d'accéder à vos informations et de les renseigner.</p>
           <a href="{{ path('collectivite_edit', { 'id': idColl }) }}"> <button type="button" class="btn btn-primary">Continuer</button></a>
          </div>
    </div>
  </div>
</div>