{#

#}
<div id='long_task_departement_fiche_container' class="little_push_down">
	<div id="spinner_export">

	</div>
	{% set ajax_mode = true %}

	{% include '@LongTaskManager/table_departement_liste.html.twig' %}


</div>
