<div class="modal fade text-center" id='Modal'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                {{ form_start(show_form) }}
                {{ form_row(show_form.object) }}
                {{ form_row(show_form.body) }}
                {{ form_end(show_form) }}
            </div>
        </div>
    </div>
</div> 