{# empty Twig template #}


<div id="qA3Handitorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Votre collectivité était-elle soumise à l'obligation d'emploi de travailleurs handicapés ?</h4>
      </div>
      <div class="modal-body">
          <p>L’obligation d’emploi existe depuis trente ans. En effet, la loi du 10 juillet 1987 en faveur de l’emploi des travailleurs handicapés prévoit que tout employeur privé ou public d’au moins 20 salariés/agents a une obligation d’emploi de personnes handicapées égale à 6% de son effectif total.
La loi du 11 février 2005 confirme cette obligation par la création du Fonds pour l'Insertion des Personnes Handicapées dans la Fonction Publique (FIPHFP) auquel, depuis 2007, les collectivités qui ne remplissent pas cette obligation doivent verser une contribution. 
Aujourd’hui, les employeurs publics peuvent s’acquitter de l’obligation légale d’emploi selon plusieurs modalités :</p>
          <ul>
              <li>l'emploi direct de personnes handicapées</li>
              <li>la réalisation de certaines dépenses prévues par le Code du travail et donnant lieu au calcul d’unités déductibles (contrats de sous-traitance avec des entreprises employant des travailleurs handicapés, aménagement de postes de travail…)</li>
              <li>le versement d’une contribution au FIPHFP depuis 2007.</li>
          </ul> 
          <p>Extrait de l'article L. 5212-2 annexe 1 de l’ordonnance n°2007-329 du 12 mars 2007 : « Tout employeur emploie, dans la proportion de 6% de l’effectif total de ses salariés, à temps plein ou à temps partiel, des travailleurs handicapés, mutilés de guerre et assimilés mentionnés à l’article L5212-13 »</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qA6Handitorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Des mesures d'aménagement de poste ou des conditions de travail (hors avis de reclassement) ont-elles été prononcées au cours de l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                <u>Précisions sur les aménagements de postes ou des conditions de travail :</u><br />
                Les restrictions liées à l’état de santé de l’agent peuvent contraindre l’employeur à modifier le poste de travail de l’agent de façon temporaire ou permanente. 
                Toute modification du poste de travail interviendra après avis du médecin du service de médecine préventive habilité à proposer des aménagements (Art. 24 du décret n°85-603).
            </p>
            Il peut s'agir :
          <ul>
              <li>d’allègement des tâches à accomplir</li>
              <li>d'aménagement des conditions matérielles du poste</li>
              <li>d'aménagement du temps de travail</li>
          </ul> 
          <p>Les mesures mises en œuvre sont celles qui sont prises après avis du médecin de prévention tels qu'avis favorable avec aménagement du poste de travail ou avis favorable avec restriction.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qA7Handitorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Des mesures de changement d'affectation (hors avis de reclassement) ont-elles été prononcées au cours de l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                <u>Précisions sur les mesures de changement d'affectation :</u><br />
                Un changement d’affectation est prononcé lorsque les nécessités du service ne permettent pas l’aménagement du poste de travail..
            </p>
            Un changement d’affectation est prononcé lorsque les nécessités du service ne permettent pas l’aménagement du poste de travail.
          <ul>
              <li>affecté dans un autre emploi de son grade adapté à ses aptitudes physiques au sein de la collectivité </li>
              <li>affecté dans le même emploi mais dans un autre service dans lequel ses fonctions ne comporteront pas les mêmes contraintes physiques.</li>
          </ul> 
          <p>Les mesures mises en œuvre sont celles qui sont prises après avis du médecin de prévention tels qu'avis favorable avec aménagement du poste de travail ou avis favorable avec restriction.</p>
          Plusieurs avis préalables sont nécessaires :
          <ul>
              <li>le médecin du service de médecine préventive afin de vérifier que les nouvelles fonctions sont compatibles avec l’état de santé de l’agent</li>
              <li>le comité médical (après un congé de maladie) ou la commission de réforme (après un congé pour accident ou une maladie professionnelle)</li>
              <li>la commission administrative paritaire donne un avis préalable au changement d’affectation puisque la situation administrative de l’agent change</li>
          </ul>
          <p>
              La demande de l’agent n’est pas nécessaire pour l’affecter dans un autre emploi ou pour modifier ses conditions de travail. 
              L’agent ne peut refuser cette nouvelle affectation dès lors qu’elle est compatible avec son état de santé.
          </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qA8Handitorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Des mesures de disponibilités d'office (hors avis de reclassement) ont-elles été prononcées au cours de l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                <u>Précisions sur les mesures de disponibilité d'office pour inaptitude physique :</u><br />
                Le fonctionnaire ayant épuisé ses droits à congés de maladie ordinaire, de longue maladie ou de longue durée peut être placé en disponibilité d'office.
            </p>
            La mise en disponibilité intervient :
          <ul>
              <li>parce que l'état de santé du fonctionnaire ne lui permet pas encore de reprendre son travail</li>
              <li>ou parce qu'il a été reconnu inapte aux fonctions correspondant à son grade et que son administration ne peut pas immédiatement le reclasser dans un autre emploi.</li>
          </ul> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qA9Handitorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Combien de reclassements ont été demandés au cours de l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                <u>Précisions sur les reclassements demandés :</u><br />
                Il s’agit ici du « vrai » reclassement <u>au sens statutaire</u>, c’est-à-dire une décision prise par l'autorité territoriale par un arrêté.
            </p>
            L'agent est soit :
          <ul>
              <li>reclassé dans un autre grade du même cadre d’emplois</li>
              <li>détaché dans un autre cadre d’emplois</li>
              <li>recruté dans un autre cadre d’emplois</li>
          </ul>
            <p>
                Dans cette partie, vous devez saisir le nombre total de reclassements demandés. Les reclassements demandés à comptabiliser sont ceux ayant fait l'objet d'une demande écrite de la part de l'agent.
            </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qAgentAvisInapHanditorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Des agents ont-ils bénéficiés d'un avis d'inaptitude au cours de l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                Il s’agit ici :
            </p>
          <ul>
              <li>Soit une inaptitude constatée par un médecin agréé, le comité médical départemental ou la commission de réforme pour les agents de droit public (fonctionnaires ou agents non titulaires)</li>
              <li>Soit d'une inaptitude constatée par le médecin du travail pour les agents de droit privé (apprenti, CAE…)</li>
              <li>Soit d'un avis du médecin de prévention autre qu'avis favorable (toutes restrictions)</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>

<div id="qAgentAvisInapAvantHanditorial" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Aide - Des agents ont-ils bénéficiés d'un avis d'inaptitude avant l'année ?</h4>
      </div>
      <div class="modal-body">
            <p>
                Il s’agit ici :
            </p>
          <ul>
              <li>Soit une inaptitude constatée par un médecin agréé, le comité médical départemental ou la commission de réforme pour les agents de droit public (fonctionnaires ou agents non titulaires)</li>
              <li>Soit d'une inaptitude constatée par le médecin du travail pour les agents de droit privé (apprenti, CAE…)</li>
              <li>Soit d'un avis du médecin de prévention autre qu'avis favorable (toutes restrictions)</li>
          </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>

  </div>
</div>