{# src/BilanSocial/Bundle/ImportCarriereBundle/Ressources/views/selectColl/index.html.twig #}
<div id='import_carriere_container'>
	<div>
		<h4>Choisisez le type d'import</h4>
		<form id='import_carriere_form_algo_type'>
			<div class='form-group'>
				<div class="radio">
					<label>
						<input type="radio" name="algo_type" value="0"/>
						Ciril
					</label>
				</div>
				<div class="radio">
					<label>
						<input type="radio" name="algo_type" value="1"/>
						Agirhe
					</label>
				</div>
			</div>
			<div>
				<label>upload du fichier xml</label>
				<input type="file" name='import_file' id='import_file'>
			</div>
			<button class="btn button-tableau" id="import_carriere">Importer</button>
		</form>
	</div>
	<div id='tables_coll_container'>

	<div>
</div>
