
<div id="alert_no_coll" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Attention</h4>
          </div>
          <div class="modal-body">
              <p>Aucune collectivité n'est sélectionnée.</p>
              <br>
              <p>Veuillez selectionner une collectivité pour valider</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>
    </div>
  </div>
</div>
<div id="alert_valide" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Succès</h4>
          </div>
          <div class="modal-body">
              <p>L'enregistrement a été effectué avec succès</p>
              <br>
              <p>Ces collectivités pourront dès maintenant importer leurs bilan via un import base carriere</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
          </div>
    </div>
  </div>
</div>